<?php
	session_start();

	//세션에 로그인 정보가 없는 경우..
	if(!isset($_SESSION["member_id"]) || !isset($_SESSION["member_password"])){
		?>
		<script type='text/javascript'>alert('로그인 되지 않았습니다, 로그인하여 주십시오..');
			 	location.replace('/user_login.html');</script>;
		<?php
	}
	//세션에 로그인 정보가 있는 경우
	else{
		?>
		<script type='text/javascript'>alert('환영합니다 ".$_SESSION["member_id"]."님');</script>;

		


	<?php
	}
?>

