		/*#table_id {
			margin:0px;padding:0px;
			width:40%;
			box-shadow: 10px 10px 5px #888888;
			border:1px solid #ffffff;

			-moz-border-radius-bottomleft:0px;
			-webkit-border-bottom-left-radius:0px;
			border-bottom-left-radius:0px;

			-moz-border-radius-bottomright:0px;
			-webkit-border-bottom-right-radius:0px;
			border-bottom-right-radius:0px;

			-moz-border-radius-topright:0px;
			-webkit-border-top-right-radius:0px;
			border-top-right-radius:0px;

			-moz-border-radius-topleft:0px;
			-webkit-border-top-left-radius:0px;
			border-top-left-radius:0px;
		}*/
		#table_id{
			/*margin:0 auto;*/padding:0px;
			/*width:100%;*/
			box-shadow: 10px 10px 5px #888888;
			border:1px solid #ffffff;

			-moz-border-radius-bottomleft:0px;
			-webkit-border-bottom-left-radius:0px;
			border-bottom-left-radius:0px;

			-moz-border-radius-bottomright:0px;
			-webkit-border-bottom-right-radius:0px;
			border-bottom-right-radius:0px;

			-moz-border-radius-topright:0px;
			-webkit-border-top-right-radius:0px;
			border-top-right-radius:0px;

			-moz-border-radius-topleft:0px;
			-webkit-border-top-left-radius:0px;
			border-top-left-radius:0px;
			border-collapse: collapse;
			border-spacing: 0;
			/*width:100%;*/
			height:100%;
		}
		#table_id tr:last-child td:last-child {
			-moz-border-radius-bottomright:0px;
			-webkit-border-bottom-right-radius:0px;
			border-bottom-right-radius:0px;
		}
		#table_id tr:first-child td:first-child {
			-moz-border-radius-topleft:0px;
			-webkit-border-top-left-radius:0px;
			border-top-left-radius:0px;
		}
		#table_id tr:first-child td:last-child {
			-moz-border-radius-topright:0px;
			-webkit-border-top-right-radius:0px;
			border-top-right-radius:0px;
		}
		#table_id tr:last-child td:first-child{
			-moz-border-radius-bottomleft:0px;
			-webkit-border-bottom-left-radius:0px;
			border-bottom-left-radius:0px;
		}
		#table_id tr:hover td{
			/*background-color:#cccccc;*/
		}

		#table_id td{
			vertical-align:middle;

			background-color:#8BBDFF;

			border:1px solid #ffffff;
			border-width:0px 1px 1px 0px;
			text-align:left;
			padding:1px;
			font-size:14px;
			font-family:'Arial';
			font-weight:normal;
			color:#000000;
			
			/*추가부분*/
			text-align:center;
			padding: 7px 7px 7px 7px;
			font-weight:bold;
		}
		#table_id tr:last-child td{
			border-width:0px 1px 0px 0px;
		}
		/*각 tr의 마지막 td들(숫자들부분)*/
		#table_id tr td:last-child{
			border-width:0px 0px 1px 0px;
			background-color: #C4FDFF;
			font-size:15px;
			color:#00096F;
			width:100px;
		}
		/*네이버검색, 다음검색, 구글검색 td들에만 hover적용*/
		#table_id tr:nth-child(n+2):nth-child(-n+8) td:last-child:hover{
			background-color:#8C8C8C;
			color: #FFFFFF;
		}
		/*#table_id tr:nth-child(n+2):nth-child(-n+4) td:last-child:hover:after{
			background-color:#8C8C8C;
			color: #FFFFFF;
			content: '검색어';
		}*/
		/*각 tr의 두번째 td들(네이버, 다음, 구글..부분)*/
		/*#table_id tr:nth-child(2) td:nth-child(2){서치-네이버
			border-width:0px 0px 1px 0px;
			background-color: #9DCFFF;
		}*/

		#table_id tr:last-child td:last-child{
			border-width:0px 0px 0px 0px;
			/*추가부분*/
			background-color: #3163C9;
			color:#000000;
		}
		#table_id tr:first-child td{
			background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
			background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");	background: -o-linear-gradient(top,#003366,003f7f);

			background-color:#003366;
			border:0px solid #ffffff;
			text-align:center;
			border-width:0px 0px 1px 1px;
			font-size:15px;
			font-family:'Arial';
			font-weight:bold;
			color:#ffffff;

			/*추가부분*/
			padding: 10px 10px 10px 10px;
		}
		#table_id tr:first-child:hover td{
			background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
			background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");	background: -o-linear-gradient(top,#003366,003f7f);

			background-color:#003366;
		}
		#table_id tr:first-child td:first-child{
			border-width:0px 0px 1px 0px;
		}
		#table_id tr:first-child td:last-child{
			border-width:0px 0px 1px 1px;
		}
